<a href="https://colab.research.google.com/github/vamshiG1998/DataScience_2501/blob/main/DS011125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

students = [{"name":"arun","marks":80},{"name":"jai","marks":93},{"name":"ram","marks":76},{"name":"sai","marks":89}]

In [ ]:
print(students)

[{'name': 'arun', 'marks': 80}, {'name': 'jai', 'marks': 93}, {'name': 'ram', 'marks': 76}, {'name': 'sai', 'marks': 89}]

In [ ]:
filtered = [s for s in students if s["marks"]> 80]
print(filtered)

[{'name': 'jai', 'marks': 93}, {'name': 'sai', 'marks': 89}]

In [ ]:
for s in filtered:
  print(s)

{'name': 'jai', 'marks': 93}
{'name': 'sai', 'marks': 89}

In [ ]:
df = pd.DataFrame(students)
print(df)

   name  marks
0  arun     80
1   jai     93
2   ram     76
3   sai     89

In [ ]:
print(df["name"])
print(df["marks"])

0    arun
1     jai
2     ram
3     sai
Name: name, dtype: object
0    80
1    93
2    76
3    89
Name: marks, dtype: int64

In [ ]:
print(df["marks"]<79)

0    False
1    False
2     True
3    False
Name: marks, dtype: bool

In [ ]:
print(df[df["marks"]>80])

  name  marks
1  jai     93
3  sai     89

In [ ]:
#marks = pd.Series([30,56,78,89])

In [ ]:
employees = pd.Series([30,56,78,89], index=['srikanth','sai','john','eswar'])

In [ ]:
print(employees)

srikanth    30
sai         56
john        78
eswar       89
dtype: int64

In [ ]:
print(marks[0])

30

In [ ]:
print(employees[2])

78

/tmp/ipython-input-1248576225.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(employees[2])

In [ ]:
print(employees["sai"])

56

In [ ]:
print(employees[["srikanth","john"]])

srikanth    30
john        78
dtype: int64

In [ ]:
string1 ="Datascience"

In [ ]:
print(string1[1:7])

atasci

In [ ]:
print(string1[::-1])

ecneicsataD

In [ ]:
print(employees[1:3])

sai     56
john    78
dtype: int64

In [ ]:
print(employees.index)

Index(['srikanth', 'sai', 'john', 'eswar'], dtype='object')

In [ ]:
print(employees.values)

[30 56 78 89]

In [ ]:
len(employees)

4

In [ ]:
for i in range(len(employees)):
  print(employees.index[i])

srikanth
sai
john
eswar

In [ ]:
print(employees)

srikanth    30
sai         56
john        78
eswar       89
dtype: int64

In [ ]:
print(employees.mean())
print(employees.max())
print(employees.min())

63.25
89
30

In [ ]:
print(employees-1)

srikanth    29
sai         55
john        77
eswar       88
dtype: int64

In [ ]:
print(employees.nlargest(3))
print(employees.nsmallest(2))

eswar    89
john     78
sai      56
dtype: int64
srikanth    30
sai         56
dtype: int64

In [ ]:
print(employees>60)

srikanth    False
sai         False
john         True
eswar        True
dtype: bool

In [ ]:
print(employees[employees>80])

eswar    89
dtype: int64

In [ ]:
employees['arun'] = 99

In [ ]:
print(employees)

srikanth    30
sai         50
john        78
eswar       89
arun        99
dtype: int64

In [ ]:
employees['sai']=50

In [ ]:
employees.drop('arun')

srikanth    30
sai         50
john        78
eswar       89
dtype: int64

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import pandas as pd
import numpy as np

data = {
    "EmployeeID": range(1, 11),
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", "Ian", "Jane"],
    "Department": ["HR", "IT", "Finance", "IT", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    "Age": [25, 30, 35, 40, 29, 31, 38, 27, 33, 45],
    "Salary": [50000, 60000, 55000, 65000, np.nan, 70000, 72000, 48000, 62000, 80000],
    "JoiningDate": pd.to_datetime([
        "2015-03-10", "2016-07-23", "2017-01-15", "2018-06-30",
        "2016-11-01", "2019-09-09", "2020-01-05", "2021-12-12",
        "2019-04-18", "2022-05-27"
    ]),
    "PerformanceScore": [3, 4, 5, 2, 3, 4, np.nan, 5, 3, 4],
    "WorkFromHome": [True, False, False, True, False, True, True, False, True, False]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print(df)

   EmployeeID     Name Department  Age   Salary JoiningDate  PerformanceScore  \
0           1    Alice         HR   25  50000.0  2015-03-10               3.0
1           2      Bob         IT   30  60000.0  2016-07-23               4.0
2           3  Charlie    Finance   35  55000.0  2017-01-15               5.0
3           4    Diana         IT   40  65000.0  2018-06-30               2.0
4           5    Ethan         HR   29      NaN  2016-11-01               3.0
5           6    Fiona    Finance   31  70000.0  2019-09-09               4.0
6           7   George         IT   38  72000.0  2020-01-05               NaN
7           8   Hannah         HR   27  48000.0  2021-12-12               5.0
8           9      Ian    Finance   33  62000.0  2019-04-18               3.0
9          10     Jane         IT   45  80000.0  2022-05-27               4.0

   WorkFromHome
0          True
1         False
2         False
3          True
4         False
5          True
6          True
7         False
8          True
9         False

In [ ]:
#selection
print(df['EmployeeID'])

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: EmployeeID, dtype: int64

In [ ]:
print(df.loc[1])

EmployeeID                            2
Name                                Bob
Department                           IT
Age                                  30
Salary                          60000.0
JoiningDate         2016-07-23 00:00:00
PerformanceScore                    4.0
WorkFromHome                      False
Name: 1, dtype: object

In [ ]:
print(df.loc[1,'Name'])

Bob

In [ ]:
print(df[['Name','EmployeeID']])

      Name  EmployeeID
0    Alice           1
1      Bob           2
2  Charlie           3
3    Diana           4
4    Ethan           5
5    Fiona           6
6   George           7
7   Hannah           8
8      Ian           9
9     Jane          10

In [ ]:
print(df.loc[1,['JoiningDate']])

JoiningDate    2016-07-23 00:00:00
Name: 1, dtype: object

In [ ]:
print(df.loc[0:6, ['Name','Age']])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Diana   40
4    Ethan   29
5    Fiona   31
6   George   38

In [ ]:
print((df['Department'] == 'Finance') & (df['Age'] > 18) & (df['Salary'] >= 48000))

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
9    False
dtype: bool

In [ ]:
print(df.sort_values('JoiningDate', ascending = False))

   EmployeeID     Name Department  Age   Salary JoiningDate  PerformanceScore  \
9          10     Jane         IT   45  80000.0  2022-05-27               4.0
7           8   Hannah         HR   27  48000.0  2021-12-12               5.0
6           7   George         IT   38  72000.0  2020-01-05               NaN
5           6    Fiona    Finance   31  70000.0  2019-09-09               4.0
8           9      Ian    Finance   33  62000.0  2019-04-18               3.0
3           4    Diana         IT   40  65000.0  2018-06-30               2.0
2           3  Charlie    Finance   35  55000.0  2017-01-15               5.0
4           5    Ethan         HR   29      NaN  2016-11-01               3.0
1           2      Bob         IT   30  60000.0  2016-07-23               4.0
0           1    Alice         HR   25  50000.0  2015-03-10               3.0

   WorkFromHome
9         False
7         False
6          True
5          True
8          True
3          True
2         False
4         False
1         False
0          True

In [ ]:
print(df.describe())

       EmployeeID        Age        Salary          JoiningDate  \
count    10.00000  10.000000      9.000000                   10
mean      5.50000  33.300000  62444.444444  2018-09-29 19:12:00
min       1.00000  25.000000  48000.000000  2015-03-10 00:00:00
25%       3.25000  29.250000  55000.000000  2016-11-19 18:00:00
50%       5.50000  32.000000  62000.000000  2018-11-23 00:00:00
75%       7.75000  37.250000  70000.000000  2019-12-06 12:00:00
max      10.00000  45.000000  80000.000000  2022-05-27 00:00:00
std       3.02765   6.236986  10536.971945                  NaN

       PerformanceScore
count          9.000000
mean           3.666667
min            2.000000
25%            3.000000
50%            4.000000
75%            4.000000
max            5.000000
std            1.000000